extends layout

block content
  div
    p Chat Home
    input#user-name(placeholder="Nombre de usuario")
    button#send-user Actuliza userName
    input#message(placeholder="Mensaje")
    button#send-message Envio
  div#messages-list
  div#users-list
  div#recent-users-list